node_modules
# https://git-scm.com/docs/gitignore
.tmp
bower_components
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
<% if(userOpts.useSass === true) { %>
<%= paths.dev %>/styles
.sass-cache
<% } %>
